$darkColor : #102D38;
$blue : #5243A0;
$red : #EF4036;
$white : #ffffff;
$yellow : #FFE34E;
// $violet : #1d0033;
$violet : #240839;
$lightgrey : #f3f4f5;

$font_lighter : 300;
$font_normal : 400;
$font_bold : 700;
$font_bolder : 900;
